{% extends 'base_nav.html' %}

{% block style %}
    {{ super() }}
    <script type="text/javascript">
        window.onload = function(){
            $(".navbar-navigation li").removeClass('active');
        }
    </script>
    <style type="text/css">
        .region{
            position: relative;
            left: 100px;
            width: 84%;
            margin-bottom: 15px;
        }
        .region .region-header .modal-title{
            letter-spacing: 3px;
            font-size: 30px;
        }
        .region .region-header .modal-subtitle{
            letter-spacing: 3px;
            font-size: 20px;
        }
        .region .region-header .report{
            margin: 10em auto;
        }
        #BTN_BACK{
            position: absolute;
            font-size: 25px;
            color: white;
            top: 12px;
            left: 13px;
            align-items: center;
            align-content: center;
            text-align: center;
            padding: 3px;
            background-color: transparent;
            border-radius: 3px;
            cursor: pointer;
        }
        #BTN_BACK span{
            margin-top: 5px;
        }
        #BTN_REMOVE_GROUP, 
        #TIMES_GROUP,
        #ADD_STUDENT{
            z-index: 1;
            position: absolute;
            right: 10px;
            top: 115px;
            float: left;
        }
        #TIMES_GROUP{
            right: 160px;
            background-color: #03116A;
            color: white;
        }
        #ADD_STUDENT{
            right: 270px;
        }
        .region .region-body .sub-region{
            width: 47%;
            float: left;
            padding: 10px;
            margin: 27px;
        }
        .sub-region{
            font-size: 20px;
        }
        #ADD_CLASS,
        #ADD_TASK,
        #ADD_THEME{
            margin-left: -15px;
            position: absolute;
        }
        .region .report{
            margin: .5em auto;
        }
        .region .report .card{
            border: 1px solid black;
            border-radius: 5px;
            width: 240px;
            height: 90px;
            margin: 8px;
            float: left;
            cursor: pointer;
        }
        .card-group .card-icon{
            float: right;
            background-color: #000734;
            width: 60px;
            height: 60px;
            margin: 10px -30px 0 0;
            border-radius: 50%;
        }
        .card-group .card-icon span{
            font-size: 30px;
            margin: 15px;
            color: white;
        }
        .card-body{
            margin: 10px;
            width: 135px;
            margin-top: 5px;
        }
        .card-body .body-header{
            color:black;
            margin-bottom: 3px;
            padding-bottom: 5px;
            border-bottom: 1px solid #BDBDBD;
            font-size: 12px;
        }
        .card-body .body-content{
            font-size: 13px;
        }
        .report table{
            font-size: 15px;
        }
        .expired-date-true{
            color: red;
        }
        .expired-date-false{
            color: orange;
        }
        .expired-date-not{
            color: green;
        }
        .sub-region .modal-header p{
            position: relative;
            right: -260px;
            width: 500px;
        }
        .sub-region .region-themes{
            margin-top: 130px;
        }
        #BTN_DELETE_SUBJECT{
            background-color: red;
            position: relative;
            top: -1px; left: 1px;
            float: right;
            height: 19%;
            z-index: 1;
            width: 10%;
            border-radius: 0 0 0 900px;
            color: black;
            border: 1px solid black;
        }
        #BTN_DELETE_SUBJECT span{
            position: relative;
            right: -7px;
            top: -7px;
        }
        #BTN_EDIT_SUBJECT{
            background-color: orange;
            position: relative;
            top: 72px; left: 25px;
            float: right;
            height: 19%;
            z-index: 1;
            width: 10%;
            border: 1px solid black;
            border-radius: 900px 0 0 0;
        }
        #BTN_EDIT_SUBJECT span{
            position: relative;
            right: -8px;
            top: -8.5px;
            font-size: 10px;
            color: black;
        }
        .card{
            background-color: transparent;
            transition: 0.3s ease-in-out 0.1s;
        }
        .card:hover{
            background-color: #BDBDBD;
        }
    </style>
{% endblock %}
{% block app_content %}
    {{ super() }}
    <div class="region">
        <div class="region-header">
            <div class="modal-header">
                <p class="modal-title">Grupo: {{ group.group_code }}</p>
                <p class="modal-subtitle">Profesor: {{ group._getTeacherGroup().user_name }}</p>
            </div>
            <button type="button" class="btn btn-default btn-danger" id="BTN_REMOVE_GROUP"
            onclick="confirmDelete({{ group.group_id }})">
                <span class="glyphicon glyphicon-remove"></span>
                Remover grupo
            </button>
            <button type="button" class="btn btn-default" id="TIMES_GROUP">
                <span class="glyphicon glyphicon-time"></span>
                Horarios
            </button>
            <button type="button" class="btn btn-default btn-success" id="ADD_STUDENT">
                <span class="glyphicon glyphicon-user"></span>
                Agregar alumno
            </button>
        </div>
    </div>
    <div class="region" style="width: 97%; margin: auto -5em;">
        <div class="region-body">
            <div class="sub-region" id="SUBJECTS">
                <div class="region-subjects">
                    <div class="modal-header">
                        <button type="button" class="btn btn-default btn-primary" id="ADD_CLASS"
                        data-target="#MODAL_ADD_SUBJECT" data-toggle="modal">
                            <span class="glyphicon glyphicon-education"></span>
                            Agregar materia
                        </button>
                        <p class="modal-title text-right">Materias</p>
                    </div>
                    <div class="report">
                        <div class="row row-card">
                            {% if subjects %}
                                {% for subject in subjects %}
                                    <div class="card card-group" onclick="themes_subject('{{ subject.class_id }}')">
                                        <div id="BTN_DELETE_SUBJECT" onclick="deleteSubject({{ subject.class_id }})">
                                            <span>
                                                &times;
                                            </span>
                                        </div>
                                        <div id="BTN_EDIT_SUBJECT" onclick="editSubject('{{ subject.class_id }}')"
                                        data-toggle="modal" data-target="#MODAL_EDIT_SUBJECT">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </div>
                                        <div class="card-selector">
                                            <div class="card-icon">
                                                <span class="glyphicon glyphicon-education"></span>
                                            </div>
                                            <div class="card-body">
                                                <div class="body-header">
                                                    <b>Materia: </b>{{ subject.class_name }}
                                                </div>
                                                <div class="body-content">
                                                    Tareas: {{ subject._getTasksClass(count=True) }}
                                                </div>
                                                <div class="body-footer">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% else %}
                                    <div class="container">
                                        Sin materias
                                    </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="region-themes" id="REGION_THEMES">
                    
                </div>
            </div>
            <div class="sub-region region-tasks" id="TASKS">
                <div class="modal-header">
                    <button type="button" class="btn btn-default btn-primary" id="ADD_TASK"
                    {% if subjects %} enabled {% else %} disabled {% endif %}>
                        <span class="glyphicon glyphicon-edit"></span>
                        Agregar actividad
                    </button>
                    <p class="modal-title text-right">Actividades</p>
                </div>
                <div class="report">
                    {% if activities %}
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Materia</th>
                                    <th scope="col">Fecha de entrega</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for activitie in activities %}
                                <tr>
                                    <td>Programación</td>
                                    <td>15/06/2021</td>
                                    <td>Tarea</td>
                                    <td>
                                        <button type="button" id="BTN_INFO_TASK" class="btn btn-default">
                                            Info
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div>
                            Sin actividades
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="MODAL_ACT_DESC">
        {% include "modal/activitie_description.html" %}
    </div>
    <div class="modal fade" role="dialog" id="MODAL_ADD_SUBJECT">
        {% include "modal/add_subject_page.html" %}
    </div>
    <div class="modal fade" role="dialog" id="MODAL_EDIT_SUBJECT">
        {% include "modal/edit_subject_page.html" %}
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script type="text/javascript">
        function confirmDelete(group_id){
            Swal.fire({
                icon: 'warning',
                title: '¿Seguro de eliminar este grupo?',
                text: 'Se eliminaran todos los datos referentes a este grupo.',
                showCancelButton: true,
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Confirmar'
            }).then((result) => {
                if(result.isConfirmed){
                    var url = '{{ url_for("main.deleteGroup", group_id="") }}'+group_id;
                    location.href = url;
                }
            });
        }
        function deleteSubject(subject_id){
            Swal.fire({
                icon: 'warning',
                title: '¿Seguro de eliminar esta materia?',
                text: 'Se eliminaran todos los datos referentes a esta materia.',
                showCancelButton: true,
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Confirmar'
            }).then((result) => {
                if(result.isConfirmed){
                    var url = '{{ url_for("main.deleteSubject", subject_id="") }}'+subject_id;
                    location.href = url;
                }
            });
        }
        function editSubject(subject_id){
            var url = '{{ url_for("main.getValuesSubject", subject_id=" ") }}'+subject_id;
            $.get(url, function(subject){
                $("#subject_id").val(subject.split('/-')[0]);
                $("#current_code").val(subject.split('/-')[1]);
                $("#new_name").val(subject.split('/-')[2]);
                //var times = JSON.parse(subject.split('/-')[3]);
                //var count = Object.keys(times).length;
                //console.log(count);
            })
        }
        function themes_subject(subject_id){
            //this.style.backgroundColor = "#BDBDBD";
            var url = '{{ url_for("main.themes_subject", subject_id="") }}'+subject_id;
            $("#REGION_THEMES").load(url);
        }
    </script>
{% endblock %}