{% extends 'base_nav.html' %}

{% block style %}
    {{ super() }}
    <style type="text/css">
        .region{
            position: absolute;
            left: 100px;
            width: 80%;
        }
        .region .modal-title{
            letter-spacing: 3px;
            font-size: 30px;
        }
        .region .modal-subtitle{
            letter-spacing: 3px;
            font-size: 20px;
        }
        .region .report{
            margin: 10em auto;
        }
        .region .report .card{
            border: 1px solid black;
            border-radius: 5px;
            width: 290px;
            height: 120px;
            margin: 10px;
            float: left;
            cursor: pointer;
        }
        .card-group .card-icon{
            float: right;
            background-color: #000734;
            width: 90px;
            height: 90px;
            margin: 16px 12px 0 0;
            border-radius: 50%;
        }
        .card-group .card-icon span{
            font-size: 60px;
            margin: 15px;
            color: white;
        }
        .card-body{
            margin: 20px;
            width: 155px;
            margin-top: 15px;
        }
        .card-body .body-header{
            color:black;
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #BDBDBD;
            font-size: 16.9px;
            font-weight: bold;
        }
        #BTN_ADD_GROUP{
            z-index: 1;
            position: absolute;
            right: 10px;
            top: 78px;
        }
    </style>
{% endblock %}
{% block app_content %}
    {{ super() }}
    <div class="region">
        <div class="modal-header">
            <p class="modal-title">Salón de Clases</p>
        </div>
        <p class="modal-subtitle">Grupos</p>
        <button type="button" class="btn btn-default btn-success" id="BTN_ADD_GROUP"
        data-toggle="modal" data-target="#MODAL_ADD_GROUP">
            <span class="glyphicon glyphicon-plus"></span>
            Agregar grupo
        </button>
    </div>
    <div class="region">
        <div class="report">
            <div class="row row-card">
                {% if groups %}
                    {% for group in groups %}
                        <div class="card card-group" onclick="javascript:location.href = '{{ url_for("main.group", group_id=group.group_id) }}'">
                            <div class="card-icon">
                                <span class="glyphicon glyphicon-blackboard"></span>
                            </div><div class="card-body">
                                <div class="body-header">
                                    Grupo: {{ group.group_code }}
                                </div>
                                <div class="body-content">
                                    Profesor: {{ group._getTeacherGroup().user_name }}
                                </div>
                                <div class="body-footer">
                                    Tareas: {{ group._getTasksGroup(count=True) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="MODAL_ADD_GROUP">
        {% include "modal/add_group_page.html" %}
    </div>
    <script type="text/javascript">

    </script>
{% endblock %}