{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {% block styles %}
        {{ super() }}
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}
    {% block style %}
        <style type="text/css">
            body{
                overflow: hidden;
            }
            .navbar{
                background-color: #000734;
                position: relative;
                top: -1px;
                border: transparent;
            }
            .navbar-brand{
                position: relative;
                left: 50px;
            }
            .navbar .navbar-brand img{
                margin-top: -8px;
                border-radius: 5px;
            }
            .navbar .navbar-brand #title_app{
                position: relative;
                bottom: 50px; left: 58px;
                background-color: transparent;
                color: white;
                padding: 15px;
                letter-spacing: 2px;
                font-weight: bold;
                border-top-right-radius: 20px;
            }
            #btn_logout{
                margin-right: 15px;
                background-color: transparent;
                color: white;
            }
            #btn_opcs{
                position: absolute;
                font-size: 25px;
                color: white;
                top: 12px;
                left: 13px;
                align-items: center;
                align-content: center;
                text-align: center;
                padding: 3px;
                background-color: transparent;
                border-radius: 3px;
            }
            #btn_opcs span{
                margin-top: 5px;
            }
            .navigation{
                display: inline-block;
                position: relative;
                top: -20px;
                width: 55px;
                min-height: 100vh;
                background-color: #000734;
            } 
            .navigation a{
                display: block;
                text-align: center;
                padding: 8px;
                color: white;
                font-size: 23px;
                border-bottom: 1px solid white;
            }
            .navbar-navigation{
                min-height: 25px;
                position: relative;
                top: -21px;
                background-color: #000734;
            }
            .navbar-navigation li a{
                color: white;
                border: 1px solid white;
            }
        </style>
    {% endblock %}
{% endblock %}

{% block body %}
    {% block app_content %}
        <body>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="javascript:location.reload()">
                            <img src="{{ url_for('static', filename='img/logo_sinesis1.png') }}" alt="sinesis" height="50px" width="58px">
                            <div id="title_app">
                                CodeApp
                            </div>
                        </a>
                    </div>
                    <div class="navbar-text navbar-right">
                        <div class="dropdown">
                            <button type="button" id="btn_logout" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.email }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btn_logout">
                                <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button"
                                data-dismiss="alert"
                                class="close"
                        >&times;</button>
                        {{message}}
                    </div>
                {% endfor %}
            </nav>
            <ul class="nav nav-tabs navbar-navigation">
                <li role="presentation" class="active home">
                    <a href="{{ url_for('main.home') }}">
                        <span class="glyphicon glyphicon-home"></span>
                        Inicio
                    </a>
                </li>
                <li role="presentation" class="students">
                    <a href="{{ url_for('main.home') }}">
                        <span class="glyphicon glyphicon-user"></span>
                        Alumnos
                    </a>
                </li>
            </ul>
        </body>
    {% endblock %}
    {% block scripts %}
        {{ super() }}
    {% endblock %}
    {% block script %}
    
    {% endblock %}
{% endblock %}